<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TVRate</title>
    <link href="css/home.css" rel="stylesheet">


    <script>
        function fetchData() {
            // Get the argument from the input
            const argument = document.getElementById('search-input').value;

            // Check if the argument is not empty
            if (argument.trim() !== '') {
                // Fetch the data from the server
                const url = `/show?argument=${argument}`;

                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {
                        // Display the result
                        document.getElementById('result').innerText = data.message;

                        // Change the URL without triggering a page reload
                        history.pushState(null, null, url);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            } else {
                // Handle the case when the input is empty
                alert('Please enter an argument.');
            }
        }
    </script>

    
</head>

<body>
    <div id="topbar">
        <img src="img/TVRate.png" alt="TVRate" id="logo">
        <h1>
            <div id="TV">TV</div>Rate
        </h1>
    </div>


    <div id="search-bar">
        <input type="text" id="search-input" placeholder="Enter your argument">
        <button id="submit-button" onclick="fetchData()">Submit</button>
    </div>


    <br>

    <div id="result"></div>

    <br>

    <a href="shows">Go to shows page</a>

</body>

</html>