<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TVRate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link href="css/home.css" rel="stylesheet">

    <script>
        function fetchData() {
            // Get the argument from the input
            const argument = document.getElementById('search-input').value;

            // Check if the argument is not empty
            if (argument.trim() !== '') {
                // Fetch the data from the server
                const url = `/show?argument=${argument}`;

                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {
                        // Display the result
                        document.getElementById('result').innerText = data.message;

                        // Change the URL without triggering a page reload
                        history.pushState(null, null, url);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            } else {
                // Handle the case when the input is empty
                alert('Please enter an argument.');
            }
        }
    </script>



</head>

<body>
    <div id="topbar">
        <div id="logo-container">
            <img src="img/TVRate.png" alt="TVRate" id="logo">
            <h1>
                <div id="TV">TV</div>Rate
            </h1>
        </div>
        <div id="navbar">
            <a href="index.html">Home</a>
            <a href="shows.html">Shows</a>
            <a href="home">About</a>
        </div>
    </div>

    <div id="search-bar">
        <input type="text" id="search-input" placeholder="Enter your argument">
        <button id="submit-button" onclick="fetchData()">Submit</button>
    </div>

    <br>

    <div id="result"></div>

    <br>

    <div id="operations">

        <div id="create">
            <form id="create-show-form">
                <label for="name-input">Name TV Show:</label>
                <input type="text" id="name-input" name="name" required>

                <label for="rating-input">Rating:</label>
                <input type="number" id="rating-input" name="rating" min="1" max="5" required>

                <button class="btn btn-primary btn-sm" type="submit">Add to my list</button>
            </form>
        </div>

        <div id="search">
            <label for="search-show-input">Name show:</label>
            <input type="text" id="search-show-input" name="search-show" required>
            <button class="btn btn-primary btn-sm" id="search-show-button" onclick="searchShow()">Search</button>
        </div>

        <div id="change">
            <form id="change-rating-form">
                <label for="id-input">ID Show:</label>
                <input type="number" id="id-input" name="id" required>

                <label for="new-rating-input">New rating:</label>
                <input type="number" id="new-rating-input" name="new-rating" min="1" max="5" required>

                <button class="btn btn-primary btn-sm" type="submit">Change my rating</button>
            </form>
        </div>


        <div id="remove">
            <form id="remove-show-form">
                <label for="remove-id-input">ID Show:</label>
                <input type="number" id="remove-id-input" name="remove-id" required>
                <button class="btn btn-primary btn-sm" type="submit">Remove Show from my list</button>
            </form>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>