<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TVRate</title>
    <link href="css/shows.css" rel="stylesheet">
</head>

<body>
    <div id="topbar">
        <div id="logo-container">
            <img src="img/TVRate.png" alt="TVRate" id="logo">
            <h1>
                <div id="TV">TV</div>Rate
            </h1>
        </div>
        <div id="navbar">
            <a href="index.html">Home</a>
            <a href="shows.html">Shows</a>
            <a href="home">About</a>
        </div>
    </div>

    This is a list of all shows

</body>

</html>