h1 {
    color: cornflowerblue;
}

body {
    padding: 0 20px;
  }

#TV {
    color: grey;
    display: inline;
    margin-left: 5px; /* Adjust the margin for better alignment */
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Add padding to the topbar */
    background-color:rgb(205, 227, 227); /* Set background color to aquamarine */
    color: white; /* Set text color to white */
    font-size: 18px; /* Make the text smaller */
    border-radius: 10px; /* Adjust the radius as needed */

}

#logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 50px; /* Make the logo smaller */
    height: 50px; /* Make the logo smaller */
}

#navbar {
    display: flex;
}

#navbar a {
    color: black;
    text-decoration: none;
    margin-right: 20px; /* Add spacing between the links */
    font-size: 20px; /* Make the text smaller */

}

#navbar a:hover {
    text-decoration: underline;

}

#navbar a:last-child {
    margin-right: 0; /* Remove margin from the last link to avoid extra spacing */
}

#search-input {
    width: 90%;
    height: 36px;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid rgb(137, 151, 155);
    transition: border-color 150ms ease-in-out 0s;
    outline: none;
    color: rgb(33, 49, 60);
    background-color: rgb(255, 255, 255);
}

#search-input:hover {
    box-shadow: rgb(231, 238, 236) 0px 0px 0px 3px;
}

#submit-button {
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
    margin-left: 10px; /* Add margin to create space between the input and button */
}

#submit-button:hover {
    border-color: #000000;
    background: #f7f7f7;
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


#operations {
    display: flex;
    flex-direction: column;
justify-content: space-between;
}
#operations > div {
    margin-bottom: 20px;
  }

#search, #create, #change, #remove{
    padding: 10px 20px; 
    background-color:rgb(205, 227, 227); /* Set background color to aquamarine */
    font-size: 18px; /* Make the text smaller */
    border-radius: 10px; /* Adjust the radius as needed */
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}